-# encoding: utf-8
%table.table.table-bordered
  %th
    Filename
  %th
    Owner
  %th
    Size
  %th

  - unless data.empty?
    - data.values do |user|
      - user.entires do |entries|
        - entries.each do |entry|
          %tr
            %td
              = entry["name"]
            %td
              = entry["created_by"]["name"]
            %td
              = entry["size"]
            %td
              %a{href: "/request_access/#{user_result['user_id']}/#{entry["id"]}"}View file on box.com

