-# encoding: utf-8
%table.table.table-bordered
  %th
    Filename
  %th
    Owner
  %th
    Size
  %th

  - if data
    - data.each do |user, results|
      - results.each do |entry|
        %tr
          %td
            = entry["name"]
          %td
            = entry["created_by"]["name"]
          %td
            = entry["size"]
          %td
            %a{href: "/request_access/#{user}/#{entry["id"]}"}View file on box.com

