-# encoding: utf-8
- if data
  %table#tableresults.table.table-striped
    %th
    %th
      Title
    %th
    %th
      Owner
    %th
      Size
    - data.each do |id, user|
      - unless user.empty?
        - user["results"].each do |entry|
          %tr
            %td{style: "vertical-align: middle;"}
              - if entry["type"] == "file"
                %i{class: "icon-file"}
              - else
                %i{class: "icon-folder-close"}
            %td{style: "vertical-align: middle;"}
              %a{target: "_blank", href: "/request_access_file/#{user["user_id"]}/#{entry["id"]}/#{entry["name"]}"}= entry["name"]
              .div{style: "font-size:12px;"}
                - entry["path_collection"]["entries"].map do |folder|
                  %a{target: "_blank", href: "/request_access_folder/#{user["user_id"]}/#{folder["id"]}/#{folder["name"]}"}= folder["name"]
                  \/
            %td{style: "vertical-align: middle;"}
              %div{style: "text-align: center"}
                %a{target: "_blank", href: "/download_file/#{user["user_id"]}/#{entry["id"]}/#{entry["name"]}", class: "btn btn-success btn-small"}
                  %i{class: "icon-download"}
                  Download
            %td{style: "vertical-align: middle;"}
              %img{title: user["name"], src: user["avatar_url"]}
            %td{style: "vertical-align: middle;"}
              = "#{(entry["size"].to_f / 1024).round(2)} kB"

